In [8]:
import seaborn as sns

In [9]:
import pandas as pd

In [10]:
mtcars = sns.load_dataset('mpg')

In [11]:
mtcars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [29]:
gb = mtcars.groupby(['cylinders','origin','model_year'])

In [34]:
gb.max().sort_values('acceleration')

                              mpg  displacement  horsepower  weight  \
cylinders origin model_year
6         japan  80          32.7         168.0       132.0    2910
3         japan  80          23.7          70.0       100.0    2420
                 72          19.0          70.0        97.0    2330
                 73          18.0          70.0        90.0    2124
                 77          21.5          80.0       110.0    2720
...                           ...           ...         ...     ...
4         usa    76          29.0         140.0        92.0    2572
          europe 72          26.0         121.0       112.0    2979
                 80          44.3         146.0        88.0    3250
                 82          44.0         105.0        74.0    2130
                 79          37.3         141.0        71.0    3190

                             acceleration                  name
cylinders origin model_year
6         japan  80                  11.4         datsun 280-zx
3         japan  80                  12.5         mazda rx-7 gs
                 72                  13.5       mazda rx2 coupe
                 73                  13.5             maxda rx3
                 77                  13.5            mazda rx-4
...                                   ...                   ...
4         usa    76                  22.2            ford pinto
          europe 72                  23.5       volvo 145e (sw)
                 80                  23.7  vw rabbit c (diesel)
                 82                  24.6             vw pickup
                 79                  24.8      vw rabbit custom

[76 rows x 6 columns]