In [1]:
import numpy as np
import pandas as pd

In [4]:
fib=[1,1]
for k in range(2,50):
    fib.append(fib[k-1]+fib[k-2])

In [6]:
fib

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

In [7]:
fib_series = pd.Series(fib)

In [10]:
time = list(np.linspace(0,3,50))
pos = [-9.81 * x **2 for x in time]

In [11]:
data = {'time':time, 'position':pos}

In [12]:
pd.DataFrame(data)

        time   position
0   0.000000  -0.000000
1   0.061224  -0.036772
2   0.122449  -0.147089
3   0.183673  -0.330950
4   0.244898  -0.588355
5   0.306122  -0.919304
6   0.367347  -1.323798
7   0.428571  -1.801837
8   0.489796  -2.353419
9   0.551020  -2.978546
10  0.612245  -3.677218
11  0.673469  -4.449434
12  0.734694  -5.295194
13  0.795918  -6.214498
14  0.857143  -7.207347
15  0.918367  -8.273740
16  0.979592  -9.413678
17  1.040816 -10.627160
18  1.102041 -11.914186
19  1.163265 -13.274756
20  1.224490 -14.708871
21  1.285714 -16.216531
22  1.346939 -17.797734
23  1.408163 -19.452482
24  1.469388 -21.180775
25  1.530612 -22.982611
26  1.591837 -24.857993
27  1.653061 -26.806918
28  1.714286 -28.829388
29  1.775510 -30.925402
30  1.836735 -33.094960
31  1.897959 -35.338063
32  1.959184 -37.654711
33  2.020408 -40.044902
34  2.081633 -42.508638
35  2.142857 -45.045918
36  2.204082 -47.656743
37  2.265306 -50.341112
38  2.326531 -53.099025
39  2.387755 -55.930483
40  2.448980 -58.835485
41  2.510204 -61.814032
42  2.571429 -64.866122
43  2.632653 -67.991758
44  2.693878 -71.190937
45  2.755102 -74.463661
46  2.816327 -77.809929
47  2.877551 -81.229742
48  2.938776 -84.723099
49  3.000000 -88.290000

In [14]:
data2 = [
    {'item':'apple','quantity':1},
    {'item':'grapefruit','quantity':10},
    {'item':'soda','quantity':100}
]
pd.DataFrame(data2)

         item  quantity
0       apple         1
1  grapefruit        10
2        soda       100